#root {
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c;

  display: flex;
  align-content: center;
  justify-content: center;
}

.App {
  text-align: center;
  background-color: #000;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  padding: 20px;
}

.button-row {
  display: flex;
  align-content: center;
  justify-content: center;
}

.calc-button {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 10px;
  background: #1C1C1C;

  font-size: 35px;
  color: #fff;

  /* display: flex;
  justify-content: center;
  align-content: center; */
}

.calc-button:hover {
  color: #000;
  background-color: #fff;
  transition: .5s;
  cursor: pointer;
}

.calc-button--operator {
  color: #fff;
  background-color: #FF9500;
}

.calc-button--functional {
  color: #000;
  background-color: #D4D4D2;
}

.calc-button--functional:hover {
  color: #fff;
  background-color: #1c1c1c;
}

.result {
  font-size: 50px;
  color: #ffffff;
  text-align: right;
}
